[Unit]
Description=clamav daemon

[Service]
Type=forking
PIDFile=/var/run/clamav/clamd.pid
ExecStart=/usr/sbin/clamd

[Install]
WantedBy=multi-user.target
