[Unit]
Description=CPU Interrupt Balancer

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/usr/sbin/irqbalance

[Install]
WantedBy=multi-user.target
